@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&display=swap');

html {
	scroll-behavior: smooth;
}
/*Scroll*/
::-webkit-scrollbar {
	width: 10px;
	background-color: #1b1b1b;
  }
  
  ::-webkit-scrollbar-thumb {
	background-color: #ffffff;
	border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background-color: red;
  }
  
  ::selection {
	background-color: rgba(101, 24, 180, 1);
  }
/*Fim Scroll*/
hr {
	border-color: black;
	margin: 100px;
}
body{
 box-sizing: border-box;
background-color: #151515;
 height: 100vh;
 color: white;
 font-family: 'Kanit', sans-serif;
 
}

/* Header */
header {
	background-color: black;
	color: white;
	margin: -8px;
	font-family: 'Permanent Marker', cursive;
	box-shadow: 0 4px 4px rgba(0,0,0,.3);
	position: fixed;
	width: 100%;
}

header a:hover{
	color: red;
}

a {
	text-decoration: none;
	color: white;
}
#cab img {
	height: 90px;
	padding: 0 200px;
}
#cab {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

ul {
	list-style: none;
	display: flex;
	font-size: 20px;
	gap: 30px;
	padding-right: 300px;
	
}
/*fim Header*/

/*Section 1*/
.div1 { 
	display:flex;
	justify-content: space-around;
	align-items: center;
}

.art1 {
	text-align: center;
	justify-content: center;
	font-size: 30px;
}

#img1 {
	margin-top: 110px;
	height: 400px;
}

#Botao {
	display: flex;
	align-items: center;
	justify-content: center;
	
}

/* Fim section 1*/

/* Section 2 */
.sec2 {
display: flex;
justify-content: space-around;
margin-top: 50px;
justify-items: center;
margin: 100px;
padding: 0%;
}

.div2 {
	display: flex;
	justify-content: center;
}
.art2 h2 {
	font-size: 18px;
}
.art2 p {
	margin-right: 300px;
}
.art2 {

	padding-left: 70px;
}

#img2 {
	border-radius: 400px;
	height: 300px;
	width: 300px;

}
/* Fim section 2*/

/* Section 3 */

.sec3 {
	flex-direction: column;
	text-align: center;
	align-items: center;
	margin: 0%;
	padding: 0%;
}


.div3 {
	
	display: flex;
	justify-content: center;
	justify-items: center;
	padding-bottom: 40px;
}

#PJF button {
	font-family: 'Permanent Marker', cursive;
	border-radius: 20px;
	color: white;
	background-color: black;
}

#PJF button a:hover {
	color: red;
}

#PJF img {
	border-radius: 100px;
	height: 300px;
	width: 400px;
	padding: 40px;
	transform: translateY(35);
	animation: float 5s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translateY(35px);
	}
	
	50% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(35px);
	}
}


/* Fim section 3*/

/* Section  4*/
/* Fim section 4*/

/* Footer */
footer {
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: small;
	margin: -8px;
	text-align: center;
	padding-top:20px ;
}

#roD {
	display: block;
	width:100%;
	position: static;

}

#roD ul {
	padding: 0%;
	margin: 0%;
	justify-content: center;
	justify-items: center;
	align-items: center;
}

.Git {
	height: 30px;
	width: 30px;
}
/* Fim Footer */